body{
    background-color: #2b0036;
}
/*For debugging*/
*{
    font-family: sans-serif;
    color: white;
    /* border: 1px solid red; */
    stroke: antiquewhite;
}

.editor-workspace {
    display: flex;
}
